<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="nLogErrors.txt" internalLogLevel="Debug">

  <variable name="logDirectory" value="${basedir}/Logs" />
  <variable name="header"
            value="${newline}
---${level:uppercase=true}----in ${processname}----on ${machinename}----${longdate}-------------${newline}
${event-context:item=UserHostAddress}${newline}" />
  <variable name="footer"
            value="---------------------------------------------------------------------------------------${newline}" />


  <targets async="true">

    <target xsi:type="File"
            name="FileTextWithException"
            fileName="${logDirectory}/log-${shortdate}.txt"
            archiveFileName="${logDirectory}/old/log-${shortdate}_{####}.txt"
            archiveNumbering="Sequence" archiveAboveSize="10485760" maxArchiveFiles="24"
            encoding="UTF-8"
            autoFlush="false"
            layout="${header}
Message: ${event-context:item=errorMessage}${newline}
${newline}
Exception:${newline}
${newline}
${event-context:item=fullExceptionData}${newline}
${footer}" />

    <target xsi:type="File"
            name="FileText"
            fileName="${logDirectory}/log-${shortdate}.txt"
            archiveFileName="${logDirectory}/old/log-${shortdate}_{####}.txt"
            archiveNumbering="Sequence" archiveAboveSize="10485760" maxArchiveFiles="24"
            encoding="UTF-8"
            autoFlush="false"
            layout="
(${level:uppercase=true})${time}: ${event-context:item=errorMessage}" />

    <target xsi:type="ColoredConsole"
            name="ConsoleWriter"
            layout=" (${level:uppercase=true})${time}: ${message}${exception:format=tostring}"
            useDefaultRowHighlightingRules="true"/>

    <target xsi:type="Mail"
            name="EmailWriter"
            smtpServer="smtp.xxx.by"
            smtpPort="25"
            smtpUserName="xxx"
            smtpPassword="xxx"
            enableSsl="false"
            from="xxx@xxx.by"
            to="xxx@xxx.by"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception}" />

    <target xsi:type="EventLog"
            name="EventLog"
            eventId="${event-properties:eventCode}"
            category="${event-properties:eventLevel}"
            layout="${longdate}|${level:uppercase=true}|${logger}${newline}${message}" />

    <target name="database" xsi:type="Database">
      <connectionString>data source=.;initial catalog=IceRink2017;user id=sa;password=sa;</connectionString>
      <commandText>insert into system_logging(log_date,log_level,log_logger,log_message,log_machine_name, log_user_name, log_call_site, log_thread, log_exception, log_stacktrace) values(@time_stamp, @level, @logger, @message,@machinename, @user_name, @call_site, @threadid, @log_exception, @stacktrace);</commandText>
      <parameter name="@time_stamp" layout="${longdate}"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@machinename" layout="${machinename}"/>
      <parameter name="@user_name" layout="${windows-identity:domain=true}"/>
      <parameter name="@call_site" layout="${callsite:filename=true}"/>

      <parameter name="@threadid" layout="${threadid}"/>
      <parameter name="@log_exception" layout="${exception}"/>
      <parameter name="@stacktrace" layout="${stacktrace}"/>

    </target>

    <target xsi:type="Database"
    name="dBase"
    dbProvider="System.Data.SqlClient"
    useTransactions="true"
    keepConnection="true"
            connectionStringName="logContext">
    <!--<install-command commandType="Enum" connectionString="Layout" ignoreFailures="Boolean"
                 text="Layout"/>--><!-- repeated --><!--
    <uninstall-command commandType="Enum" connectionString="Layout" ignoreFailures="Boolean"
                   text="Layout"/>--><!-- repeated --><!--
    <parameter layout="Layout" name="String" precision="Byte"
         scale="Byte" size="Integer"/>--><!-- repeated -->

      <!--
  Script for creating the dbo.Log table.

  SET ANSI_NULLS ON
  SET QUOTED_IDENTIFIER ON
  CREATE TABLE [dbo].[Log] (
      [Id] [int] IDENTITY(1,1) NOT NULL,
      [Application] [nvarchar](50) NOT NULL,
      [Logged] [datetime] NOT NULL,
      [Level] [nvarchar](50) NOT NULL,
      [Message] [nvarchar](max) NOT NULL,
      [Logger] [nvarchar](250) NULL,
      [Exception] [nvarchar](max) NULL,
    CONSTRAINT [PK_dbo.Log] PRIMARY KEY CLUSTERED ([Id] ASC)
      WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
  ) ON [PRIMARY]
  -->

      <commandText>
        Insert into dbo.Log (
        Application, Logged, Level, Message,
        ServerAddress, RemoteAddress,
        Logger, Exception
        ) values (
        @Application, @Logged, @Level, @Message,
        @Logger, @Exception
        );
      </commandText>

      <parameter name="@application" layout="${processname} " />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@exception" layout="${exception:tostring}" />
      
      
    </target>

  </targets>

  <rules>

    <logger name="GeneralLogger" level="Fatal" writeTo="FileTextWithException" />
    <logger name="GeneralLogger" maxlevel="Error" minlevel="Trace" writeTo="FileText" />
    <logger name="GeneralLogger"  maxlevel="Error" minlevel="Trace" writeTo="database" />

    <logger name="GeneralLoggerWithConsoleOutput" level="Fatal" writeTo="FileTextWithException" />
    <logger name="GeneralLoggerWithConsoleOutput" maxlevel="Error" minlevel="Debug" writeTo="FileText" />
    <logger name="GeneralLoggerWithConsoleOutput" writeTo="ConsoleWriter" />

    <logger name="EmailLogger" maxlevel="Fatal" minlevel="Debug" writeTo="EmailWriter" />

    <logger name="EventLog" maxlevel="Fatal" minlevel="Debug" writeTo="EventLog" />

  </rules>
</nlog>