<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ApplicationConfiguration" type="IvTx.Core.Config.AppConfigSectionHandler, IvTx.Core" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <ApplicationConfiguration>
    <RinkDesktopConfig>
      <Groups>73</Groups>
      <Groups>34</Groups>
      <Groups>28</Groups>
      <Groups>39</Groups>
      <Groups>30</Groups>
      <Groups>31</Groups>
      <Groups>29</Groups>
      <Groups>32</Groups>
      <Groups>33</Groups>
      <SubscriptionGoods>10</SubscriptionGoods>
      <PassGroup>7</PassGroup>
      <SubscriptionPartnerGroup>8</SubscriptionPartnerGroup>
      <OneTradeGoodGroup>39</OneTradeGoodGroup>
      <PartnerID>1</PartnerID>
      <ObjectID>2</ObjectID>
      <UserID>1</UserID>
      <ToleranceInMin>15</ToleranceInMin>
      <Template>
        <Header>&lt;Center&gt;ООО "Аква-Парк"</Header>
        <Header>&lt;Center&gt;ДОБРОГ ПОЖАЛОВАТЬ!</Header>
        <Header>&lt;Center&gt;ул.Бульвар Комарова 23 </Header>
        <Header>----------------------------------------</Header>
        <Header>Товар&lt;LimitL20&gt;Кол-во.&lt;LimitC08&gt;Сумма&lt;LimitR10&gt;</Header>
        <Header>----------------------------------------</Header>
        <Details>&lt;ItemName&gt;&lt;LimitL20&gt;&lt;ItemQtty&gt;&lt;LimitR08&gt;&lt;&lt;ItemTotal&gt;&lt;LimitR10&gt;&lt;ItemVAtCode&gt;</Details>
        <Footer>----------------------------------------</Footer>
        <Total>------------------------------</Total>
        <Total>&lt;TotalCaption&gt;&lt;LimitR30&gt;&lt;Total&gt;&lt;LimitR10&gt;</Total>
        <Total>&lt;Center&gt;Спасибо за покупку</Total>
      </Template>
    </RinkDesktopConfig>
  </ApplicationConfiguration>



  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="IceRinkModel" connectionString="data source=.;initial catalog=Entrance2017;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="logContext" connectionString="data source=.;initial catalog=Entrance2017;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="IceRinkModel" connectionString="data source=192.168.100.1\sqlexpress;initial catalog=IceRink2017;user id=sa;password=kodeks;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="logContext" connectionString="data source=192.168.100.1\sqlexpress;initial catalog=IceRink2017;user id=sa;password=kodeks;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>